<!-- <section style="background: #fff; height: auto; width: 100%"> -->

<!-- <div>
    <svg width="80px" height="80px">
      <use xlink:href="assets/all.svg#cloudMoon"></use>
    </svg>
  </div>
  <div style="color: #ff006e;"  >
    <svg width="80px" height="80px">
        <use xlink:href="assets/all.svg#circleHeat"></use>
    </svg>
  </div> -->
<!-- <div>
    <svg>
        <use xlink:href="assets/all.svg#cloudSun"></use>
    </svg>
  </div>
  <div class="clearfix"></div>
</section>

<div class="test">

</div> -->

<section
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  "
>
  <div class="card">
    <div class="picture">
      <!-- <img src="assets/street-8270869_1920.jpg" alt="" /> -->
    </div>
    <p style="position: absolute;top: 120px;padding: 24px;height: 250px;overflow: hidden;background: red;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quas eveniet
      fugiat exercitationem ducimus doloribus commodi repellendus eum expedita
      ut earum, beatae suscipit adipisci officia ratione possimus ab, natus
      animi.
     
    </p>

    <div>
      <button>about</button>
    </div>
  </div>
</section>
