<h1>Scroll to see animation</h1>

<section class="reveal" style="padding: 30px;">
  <div class="box blue show">
    <h2>Content</h2>
  </div>
  <div class="box red">
    <h2>Content</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green">
    <h2>Content</h2>
  </div>
  <div class="box blue">
    <h2>Content</h2>
  </div>
  <div class="box red reveal-1">
    <h2>Content reveal</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green">
    <h2>Content</h2>
  </div>
  <div class="box blue">
    <h2>Content</h2>
  </div>
  <div class="box red">
    <h2>Content</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green reveal-2">
    <h2>Content</h2>
  </div>
</section>
