.blue{
    --clr: #3a86ff;
}

.red{
    --clr: #d62828;
}

.yellow{
    --clr:#ffb703;
}

.green{
    --clr:#2a9d8f;
}

.box{
    background-color: var(--clr);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgb(0, 0, 0.3);
    
}

.reveal{
    opacity: 0;
    transform: translateX(-38px);
}

.reveal-visible{
    opacity: 1;
    transform: translateX(0);
    transition:  1s ease;
}