<h1>Scroll to see animation</h1>

<section class="reveal" style="padding: 30px">
  <div class="box blue show">
    <h2>Content</h2>
  </div>
  <div class="box red">
    <h2>Content</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green">
    <h2>Content</h2>
  </div>
  <div class="box blue">
    <h2>Content</h2>
  </div>
  <div class="box red reveal-1">
    <h2>Content reveal</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green">
    <h2>Content</h2>
  </div>
  <div class="box blue">
    <h2>Content</h2>
  </div>
  <div class="box red">
    <h2>Content</h2>
  </div>
  <div class="box yellow">
    <h2>Content</h2>
  </div>
  <div class="box green reveal-2">
    <h2>Content</h2>
  </div>
</section>

<div class="b2">
  <h2>
    Ctest
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="home"
    ></mat-icon>
  </h2>
</div>
<h2 class="animate__animated animate__bounce">An animated element</h2>

<section>
  <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item">8</div>
    <div class="grid-item">9</div>
  </div>
</section>
