

.blue {
  --clr: #3a86ff;
}

.red {
  --clr: #d62828;
}

.yellow {
  --clr: #ffb703;
}

.green {
  --clr: #2a9d8f;
}

.box {
  background-color: var(--clr);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0.3);
}

/* .reveal{
    opacity: 0;
    transform: translateX(-318px);
} */

.reveal [class*="reveal"] {
  opacity: 0 !important;
  transform: translateX(-318px);
}

/* .reveal-1 {
  transition-delay: 0.1s;
}

.reveal-2 {
  transition-delay: 1s;
} */

.reveal .reveal-visible {
  opacity: 1 !important;
  transform: translateX(0);
  transition: 1s cubic-bezier(.92,.39,.06,.91);
  
}



@media (prefers-reduced-motion: reduce) {
  .reveal  .reveal-visible {
    opacity: 1 !important;
    transform: translateX(0);
    transition: 1s cubic-bezier(.92,.39,.06,.91);
  }
}

/*entrainement css*/
/*https://www.youtube.com/watch?v=avw21xGxflU*/
.b2{
  /* transition: 1s cubic-bezier(.92,.39,.06,.91);
  transition-property: scale; */
  animation: laby 8s infinite alternate;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgb(0, 0, 0.3);
  background: #ffb703;
  display: flex;
  align-items: center;
  justify-content: center;
  /* animation-fill-mode: forwards; */
}

.b2:hover{
  animation-play-state: paused;
}

@keyframes laby{
  30%{
    /* rotate: 90deg; */
    translate: 500px;
  }
  70%{
    translate: 500px -650px;
  }
  100%{
    translate: 650px -650px;
  }
}

/* .box:hover{
  scale: 1.1;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}