/* You can add global styles to this file, and also import other style files */
body{
    background: #636e72;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

h1{
    color: rgb(226, 226, 226);
    margin: 30px;
    text-shadow: 2px 2px 10px #000;
}

*{
    box-sizing: border-box;
}


